body {
  margin: 0;
  line-height: normal;
}
.image-21-icon {
  position: absolute;
  top: 5558px;
  left: 0;
  width: 1728px;
  height: 1497px;
  object-fit: cover;
}
.macbook-pro-16-8-child {
  position: absolute;
  top: 3732px;
  left: 1074px;
  border-radius: var(--br-sm);
  background-color: rgba(11, 138, 201, 0.6);
  width: 578px;
  height: 123px;
}
.macbook-pro-16-8-item {
  position: absolute;
  top: 2833px;
  left: 76px;
  background-color: var(--color-gray-200);
  width: 495px;
  height: 598px;
}
.image-18-icon {
  position: absolute;
  top: 37px;
  left: 0;
  width: 2045px;
  height: 951px;
  object-fit: cover;
}
.macbook-pro-16-8-inner {
  position: absolute;
  top: 173px;
  left: 949.21px;
  width: 1036.5px;
  height: 626.67px;
}
.a7e03c91e352fefc85a5e-robo-rab-icon {
  position: absolute;
  top: 40px;
  left: 74px;
  width: 336px;
  height: 96px;
  object-fit: cover;
}
.rectangle-div {
  position: absolute;
  top: 60px;
  left: 1430px;
  border-radius: 33.85px;
  width: 221.11px;
  height: 56.07px;
}
.log-in {
  position: absolute;
  top: 70px;
  left: 1487px;
  font-size: 33.85px;
  font-family: var(--font-comfortaa);
  display: inline-block;
  width: 111px;
  height: 37px;
}
.macbook-pro-16-8-child1 {
  position: absolute;
  top: 771px;
  left: 76px;
  border-radius: 31.32px;
  width: 281.25px;
  height: 51.81px;
}
.div,
.div1,
.div2 {
  position: absolute;
  display: inline-block;
}
.get-started {
  top: 777.73px;
  left: 123.77px;
  font-size: var(--font-size-sm);
  width: 185.71px;
  height: 34.32px;
}
.get-started,
.watch-trailer {
  position: absolute;
  display: inline-block;
}
.div {
  left: 984px;
  font-weight: 500;
  width: 186px;
}
.div,
.div1,
.div2 {
  top: 957px;
  font-size: var(--font-size-4xl);
  height: 51px;
}
.div1,
.div2,
.watch-trailer {
  font-weight: 500;
}
.div1 {
  left: 1223px;
  width: 139px;
}
.div2 {
  left: 1439px;
  width: 200px;
}
.watch-trailer {
  top: 779.75px;
  left: 444.72px;
  font-size: var(--font-size-sm);
  width: 211.28px;
  height: 34.32px;
}
.discover {
  margin-block-start: 0;
  margin-block-end: 0;
}
.nfts {
  color: #08af91;
}
.collect-and-sell-awesome-nfts {
  margin: 0;
}
.discover-collect-and-container,
.everything-in-roborabbits {
  position: absolute;
  top: 202px;
  left: 63px;
  font-size: 116.67px;
  line-height: 137px;
  font-family: var(--font-comfortaa);
  display: inline-block;
  width: 968px;
  height: 413px;
}
.everything-in-roborabbits {
  top: 897px;
  left: 74px;
  font-size: 57.23px;
  line-height: 94.63px;
  width: 516px;
  height: 252px;
}
.home,
.wallet {
  top: 71px;
  font-size: var(--font-size-lg);
  height: 55px;
}
.home {
  position: absolute;
  left: 589px;
  display: inline-block;
  width: 105px;
}
.wallet {
  left: 741px;
  color: var(--color-gray-300);
  width: 151px;
}
.about-us,
.collection,
.daily-items,
.wallet {
  position: absolute;
  display: inline-block;
}
.daily-items {
  top: 1013px;
  font-size: var(--font-size-5xs);
  color: var(--color-gray-400);
}
.total-item {
  left: 984px;
  width: 125.7px;
  height: 40.43px;
}
.total-item,
.total-sales {
  position: absolute;
  top: 1013px;
  font-size: var(--font-size-5xs);
  color: var(--color-gray-400);
  display: inline-block;
}
.daily-items,
.total-sales {
  left: 1221px;
  width: 145.92px;
  height: 40.44px;
}
.total-sales {
  left: 1438.9px;
  width: 130.1px;
}
.about-us,
.collection {
  font-size: var(--font-size-lg);
  color: var(--color-gray-300);
  height: 55px;
}
.collection {
  top: 71px;
  left: 892px;
  width: 172px;
}
.about-us {
  top: 70px;
  left: 1111px;
  width: 161px;
}
.group-child,
.image-17-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 453px;
  height: 453px;
}
.image-17-icon {
  top: 64px;
  left: 52px;
  width: 310px;
  height: 314px;
  object-fit: cover;
}
.ellipse-parent,
.the-largest-nft {
  position: absolute;
  top: 240px;
  left: 1126px;
  width: 453px;
  height: 453px;
}
.the-largest-nft {
  top: 618px;
  left: 76px;
  font-size: var(--font-size-base);
  line-height: 64px;
  font-family: var(--font-comfortaa);
  color: var(--color-gray-300);
  display: inline-block;
  width: 993px;
  height: 189px;
}
.group-icon,
.vector-icon {
  position: absolute;
  height: 0.57%;
  width: 2.31%;
  top: 11.01%;
  right: 74.68%;
  bottom: 88.42%;
  left: 23.01%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon {
  height: 1.42%;
  width: 7.19%;
  top: 13.34%;
  right: 63.01%;
  bottom: 85.24%;
  left: 29.8%;
}
.image-19-icon,
.image-20-icon {
  position: absolute;
  top: 662.87px;
  left: 0;
  width: 1728px;
  height: 1983.23px;
  object-fit: cover;
}
.image-20-icon {
  top: 2264px;
  height: 1423.61px;
}
.the-roborabbit-marketplace {
  position: absolute;
  top: 1699px;
  left: 1041px;
  font-size: var(--font-size-base);
  line-height: 64px;
  font-family: var(--font-comfortaa);
  color: var(--color-gray-400);
  display: inline-block;
  width: 610px;
  height: 189px;
}
.how-do-i {
  position: absolute;
}
.macbook-pro-16-8-child2 {
  position: absolute;
  top: 1447px;
  left: 0;
  width: 988px;
  height: 629.98px;
}
.how-do-i {
  top: 1283px;
  left: 1033px;
  font-size: var(--font-size-5xl);
  line-height: 137px;
  font-family: var(--font-comfortaa);
  display: inline-block;
  width: 548px;
  height: 385px;
}
.the-top-nfts {
  top: 4144px;
  font-size: var(--font-size-base);
  line-height: 64px;
  color: var(--color-gray-400);
  width: 707px;
  height: 189px;
}
.an-online-community {
  left: 78px;
}
.an-online-community,
.browse-by-category,
.some-places-for,
.the-top-nfts,
.top-collection-over {
  position: absolute;
  font-family: var(--font-comfortaa);
  display: inline-block;
}
.the-top-nfts,
.top-collection-over {
  left: 78px;
}
.an-online-community {
  top: 4783px;
  font-size: var(--font-size-base);
  line-height: 64px;
  color: var(--color-gray-400);
  width: 840px;
  height: 189px;
}
.browse-by-category,
.some-places-for,
.top-collection-over {
  font-size: var(--font-size-5xl);
  line-height: 137px;
}
.top-collection-over {
  top: 3717px;
  width: 896px;
  height: 540px;
}
.browse-by-category {
  top: 4641px;
  left: 69px;
  width: 1142px;
  height: 134px;
}
.some-places-for {
  top: 2470px;
  left: 281px;
  text-align: center;
  width: 1166px;
  height: 251px;
}
.macbook-pro-16-8-child3 {
  position: absolute;
  top: 1283px;
  left: 0;
  width: 909.27px;
  height: 700px;
  object-fit: cover;
}
.macbook-pro-16-8-child4 {
  position: absolute;
  top: 2100px;
  left: 1041px;
  border-radius: var(--br-lg);
  width: 427px;
  height: 69.59px;
}
.explore-more {
  position: absolute;
  top: 2109.41px;
  left: 1089.23px;
  font-size: var(--font-size-3xl);
  display: inline-block;
  width: 276.69px;
  height: 43.15px;
}
.macbook-pro-16-8-child5 {
  position: absolute;
  height: 0.49%;
  width: 3.57%;
  top: 30.02%;
  right: 17.38%;
  bottom: 69.49%;
  left: 79.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.macbook-pro-16-8-child6 {
  position: absolute;
  top: 4338px;
  left: 76px;
  border-radius: var(--br-lg);
  width: 427px;
  height: 69.59px;
}
.explore-more1 {
  position: absolute;
  top: 4347.41px;
  left: 124.23px;
  font-size: var(--font-size-3xl);
  display: inline-block;
  width: 276.69px;
  height: 43.15px;
}
.macbook-pro-16-8-child7 {
  position: absolute;
  height: 0.49%;
  width: 3.57%;
  top: 61.74%;
  right: 73.23%;
  bottom: 37.77%;
  left: 23.21%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div,
.group-item {
  position: absolute;
  width: 495px;
  height: 598px;
}
.group-item {
  top: 0;
  left: 0;
  background-color: #152126;
}
.group-div {
  top: 2833px;
  left: 617px;
}
.macbook-pro-16-8-child8 {
  position: absolute;
  top: 2876px;
  left: 656px;
  width: 152.34px;
  height: 152.34px;
}
.art,
.domain-names,
.music,
.roborabbit-market-place {
  position: absolute;
  font-weight: 500;
  display: inline-block;
  width: 384px;
}
.roborabbit-market-place {
  top: 3079px;
  left: 654px;
  font-size: var(--font-size-xs);
  height: 255px;
}
.art {
  left: 98px;
}
.art,
.domain-names,
.music {
  top: 5533px;
  height: 44px;
}
.domain-names {
  left: 645px;
}
.music {
  left: 1192px;
}
.photography,
.trading-cards {
  top: 6187px;
  font-weight: 500;
  height: 44px;
}
.photography {
  position: absolute;
  left: 98px;
  display: inline-block;
  width: 384px;
}
.trading-cards {
  left: 645px;
}
.brings-artists-and,
.sports,
.trading-cards {
  position: absolute;
  display: inline-block;
  width: 384px;
}
.sports {
  top: 6187px;
  left: 1192px;
  font-weight: 500;
  height: 44px;
}
.brings-artists-and {
  top: 3169px;
  left: 654px;
  font-size: var(--font-size-6xs);
  color: var(--color-gray-300);
  height: 255px;
}
.get-started1,
.group-inner {
  position: absolute;
  top: 0;
  left: 0;
}
.group-inner {
  border-radius: var(--br-md);
  width: 285px;
  height: 53px;
}
.get-started1 {
  font-size: var(--font-size-2xs);
  font-family: var(--font-montserrat);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 187.92px;
  height: 29.31px;
}
.group-child1 {
  position: absolute;
  height: 80.44%;
  width: 18.22%;
  top: 19.43%;
  right: 0;
  bottom: 0.13%;
  left: 81.78%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.get-started-parent {
  position: absolute;
  top: 9px;
  left: 30px;
  width: 229.84px;
  height: 29.31px;
}
.rectangle-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 456.34px;
  left: 1px;
  width: 285px;
  height: 53px;
}
.group-child2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 152.34px;
  height: 152.34px;
}
.beautiful-graphics-where,
.very-high-quality {
  position: absolute;
  left: 1px;
  display: inline-block;
  width: 384px;
  height: 255px;
}
.very-high-quality {
  top: 204.34px;
  font-weight: 500;
}
.beautiful-graphics-where {
  top: 289.34px;
  font-size: var(--font-size-6xs);
  color: var(--color-gray-300);
}
.group-parent {
  position: absolute;
  top: 2876px;
  left: 112px;
  width: 385px;
  height: 544.34px;
  font-size: var(--font-size-xs);
}
.macbook-pro-16-8-child9 {
  position: absolute;
  top: 3332px;
  left: 655px;
  border-radius: var(--br-md);
  width: 285px;
  height: 53px;
}
.explore-more2 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 187.92px;
  height: 29.31px;
}
.explore-more-parent {
  position: absolute;
  top: 3341px;
  left: 685px;
  width: 229.84px;
  height: 29.31px;
  font-size: var(--font-size-2xs);
}
.macbook-pro-16-8-child10 {
  position: absolute;
  top: 2833px;
  left: 1157px;
  background-color: var(--color-gray-200);
  width: 495px;
  height: 598px;
}
.macbook-pro-16-8-child11 {
  position: absolute;
  top: 2869px;
  left: 1197px;
  width: 152.34px;
  height: 152.34px;
}
.create-buy-sell,
.start-selling-nft {
  position: absolute;
  display: inline-block;
  width: 384px;
  height: 255px;
}
.start-selling-nft {
  top: 3072px;
  left: 1197px;
  font-size: var(--font-size-xs);
  font-weight: 500;
}
.create-buy-sell {
  top: 3162px;
  left: 1196px;
  font-size: var(--font-size-6xs);
  color: var(--color-gray-300);
}
.macbook-pro-16-8-child12 {
  position: absolute;
  top: 3325px;
  left: 1196px;
  border-radius: var(--br-md);
  width: 285px;
  height: 53px;
}
.get-started-group {
  position: absolute;
  top: 3334px;
  left: 1226px;
  width: 229.84px;
  height: 29.31px;
  font-size: var(--font-size-2xs);
}
.ellipse-icon,
.vector-icon1 {
  position: absolute;
  top: 3750px;
  left: 1095px;
  width: 87.34px;
  height: 87.34px;
}
.vector-icon1 {
  height: 0.94%;
  width: 3.21%;
  top: 53.45%;
  right: 32.38%;
  bottom: 45.61%;
  left: 64.41%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.macbook-pro-16-8-child13 {
  position: absolute;
  top: 3879px;
  left: 1074px;
  border-radius: var(--br-sm);
  background-color: var(--color-gray-100);
  width: 578px;
  height: 123px;
}
.macbook-pro-16-8-child14 {
  position: absolute;
  top: 3897px;
  left: 1095px;
  width: 87.34px;
  height: 87.34px;
}
.macbook-pro-16-8-child15 {
  position: absolute;
  top: 4026px;
  left: 1074px;
  border-radius: var(--br-sm);
  background-color: var(--color-gray-100);
  width: 578px;
  height: 123px;
}
.macbook-pro-16-8-child16 {
  position: absolute;
  top: 4044px;
  left: 1095px;
  width: 87.34px;
  height: 87.34px;
}
.macbook-pro-16-8-child17 {
  position: absolute;
  top: 4173px;
  left: 1074px;
  border-radius: var(--br-sm);
  background-color: var(--color-gray-100);
  width: 578px;
  height: 123px;
}
.macbook-pro-16-8-child18 {
  position: absolute;
  top: 4191px;
  left: 1095px;
  width: 87.34px;
  height: 87.34px;
}
.zeeshan {
  top: 3738px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-pixeled);
  width: 188px;
  height: 33px;
}
.item,
.item1,
.zeeshan,
.zeeshan1 {
  position: absolute;
  left: 1211px;
  display: inline-block;
}
.item {
  top: 3804px;
  font-size: var(--font-size-7xs);
  font-family: var(--font-rubik);
  color: var(--color-gold);
  width: 85px;
  height: 20px;
}
.zeeshan1 {
  top: 3882px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-pixeled);
  width: 188px;
  height: 33px;
}
.item1 {
  top: 3948px;
  font-size: var(--font-size-7xs);
  font-family: var(--font-rubik);
  color: var(--color-gold);
  width: 85px;
  height: 20px;
}
.zeeshan2 {
  top: 4035px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-pixeled);
  width: 188px;
  height: 33px;
}
.item2,
.item3,
.zeeshan2,
.zeeshan3 {
  position: absolute;
  left: 1211px;
  display: inline-block;
}
.item2 {
  top: 4101px;
  font-size: var(--font-size-7xs);
  font-family: var(--font-rubik);
  color: var(--color-gold);
  width: 85px;
  height: 20px;
}
.zeeshan3 {
  top: 4182px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-pixeled);
  width: 188px;
  height: 33px;
}
.item3 {
  top: 4248px;
  font-size: var(--font-size-7xs);
  font-family: var(--font-rubik);
  color: var(--color-gold);
  width: 85px;
  height: 20px;
}
.macbook-pro-16-8-child19 {
  position: absolute;
  top: 4320px;
  left: 1074px;
  border-radius: var(--br-sm);
  background-color: var(--color-gray-100);
  width: 578px;
  height: 123px;
}
.item4 {
  position: absolute;
}
.macbook-pro-16-8-child20 {
  position: absolute;
  top: 4338px;
  left: 1095px;
  width: 87.34px;
  height: 87.34px;
}
.zeeshan4 {
  position: absolute;
}
.item4,
.zeeshan4 {
  left: 1211px;
  display: inline-block;
}
.zeeshan4 {
  top: 4329px;
  font-size: var(--font-size-3xs);
  font-family: var(--font-pixeled);
  width: 188px;
  height: 33px;
}
.item4 {
  top: 4395px;
  font-size: var(--font-size-7xs);
  font-family: var(--font-rubik);
  color: var(--color-gold);
  width: 85px;
  height: 20px;
}
.image-21-icon1 {
  position: absolute;
  top: 4069px;
  left: 0;
  width: 2045px;
  height: 951px;
  object-fit: cover;
}
.group-child5,
.group-child6,
.rectangle-icon {
  position: absolute;
  top: 0;
  width: 474px;
  height: 474px;
  object-fit: cover;
}
.rectangle-icon {
  left: 0;
}
.group-child5 {
  left: 547px;
}
.group-child6 {
  left: 1094px;
}
.rectangle-container,
.rectangle-group {
  position: absolute;
  left: 80px;
  width: 1568px;
  height: 474px;
}
.rectangle-group {
  top: 5033px;
}
.rectangle-container {
  top: 5684px;
}
.a7e03c91e352fefc85a5e-robo-rab-icon1 {
  position: absolute;
  top: 55px;
  left: 86px;
  width: 462px;
  height: 132px;
  object-fit: cover;
}
.all-nfts,
.collectibles,
.domain-names1,
.lorem-ipsum-dolor {
  position: absolute;
  line-height: 49.49px;
  display: inline-block;
}
.lorem-ipsum-dolor {
  top: 204px;
  left: 86px;
  width: 648px;
  height: 213.42px;
}
.all-nfts {
  top: 173px;
}
.all-nfts,
.collectibles,
.domain-names1 {
  left: 894px;
  width: 240px;
  height: 49px;
}
.collectibles {
  top: 237px;
}
.domain-names1 {
  top: 301px;
}
.favourites {
  position: absolute;
  line-height: 49.49px;
  display: inline-block;
  width: 240px;
  height: 49px;
}
.music1 {
  left: 894px;
}
.music1,
.my-collection {
  position: absolute;
  line-height: 49.49px;
  display: inline-block;
  width: 240px;
  height: 49px;
}
.photography1 {
  left: 894px;
}
.photography1,
.profile,
.settings,
.sports1 {
  position: absolute;
  line-height: 49.49px;
  display: inline-block;
  width: 240px;
  height: 49px;
}
.sports1 {
  left: 894px;
}
.trading-cards1 {
  top: 365px;
  left: 894px;
}
.trading-cards1,
.watchlist {
  position: absolute;
  line-height: 49.49px;
  display: inline-block;
  width: 240px;
  height: 49px;
}
.music1 {
  top: 429px;
}
.photography1 {
  top: 493px;
}
.sports1 {
  top: 557px;
}
.favourites,
.my-collection {
  left: 1257px;
}
.profile {
  top: 173px;
}
.profile,
.settings,
.watchlist {
  left: 1257px;
}
.favourites {
  top: 237px;
}
.my-collection {
  top: 301px;
}
.settings {
  top: 365px;
}
.watchlist {
  top: 429px;
}
.macbook-pro-16-7-child {
  position: absolute;
  height: 6.19%;
  width: 15.45%;
  top: 68.66%;
  right: 79.57%;
  bottom: 25.15%;
  left: 4.98%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.marketplace,
.my-account {
  position: absolute;
  top: 90px;
  left: 894px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  font-family: var(--font-montserrat);
  color: var(--color-white);
  display: inline-block;
  width: 384px;
  height: 44px;
}
.my-account {
  left: 1257px;
}
.macbook-pro-16-7 {
  position: absolute;
  top: 6385px;
  left: 0;
  background-color: rgba(14, 13, 13, 0.6);
  width: 1728px;
  height: 670px;
  overflow: hidden;
  font-size: var(--font-size-4xs);
  color: var(--color-gray-400);
  font-family: var(--font-comfortaa);
}
.macbook-pro-16-8 {
  position: relative;
  background: linear-gradient(118.33deg, #301141, #3d0229 44.58%, #28034d);
  width: 100%;
  height: 7055px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
